.block figure {
    padding-top: 30px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block figure iframe {
    width: 1045px;
    aspect-ratio: 16/9;
    border-radius: 4vw;
}

.block figure figcaption {
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.info img {
    height: 350px;
    float: right;
    margin-left: 40px;
    object-fit: contain;
}

.indent {
    padding-left: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row img {
    height: 500px;
    border-radius: 50px;
}

@media (max-width: 630px) {
    .row img {
        height: 200px;
        border-radius: 20px;
    }

    .block figure figcaption {
        font-size: 4vw;
    }

    .indent {
        padding-left: 15px;
    }
}