.block {   
    display: flex;
    flex-direction: column;
}

.block p {
    padding: 20px;
}

.lore_img {
    width: 45%;
    aspect-ratio: 16/9;
    border-radius: 20px;
}

.img_right {
    float: right;
    margin-left: 40px;
}

.img_left {
    float: left;
    margin-right: 40px;
}

#the_great_war {
    width: 65%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    margin: auto;
}

@media (max-width: 630px) {
    .lore_img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .img_left, .img_right {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    #the_great_war { border-radius: 10px;}
}