@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,300&display=swap');
 
* {
    margin: 0;
    color: white;
    text-decoration: none;
}

a {
    color: #F9F905;
}

img, iframe {max-width: 100%; object-fit: cover;}

body {
    font-family: 'Literata', serif;
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img, video {
    border-radius: 4vw;
}

header {
    padding-top: 2vh;
}

header>* {
    display: inline-block;
    margin: 1vh;
    vertical-align: middle;
    text-align: center;
}

header img {
    width: 20vw;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
    margin-right: 3.7vw;
}

main {
    background-color: rgba(29, 31, 42, .75);
    width: 80vw;
    padding: 5%;
    margin: 5vw auto auto auto;
    border-radius: 4vw;
}

.main_title {
    font-size: 3.5vw;
    text-align: center;
}

.block {
    background-color: rgba(45, 47, 58, .75);
    border-radius: 4vw;
    padding: 5%;
    margin: 5%;
}

.block p {
    font-size: 28px;
    text-align: justify;
    padding: 5%;
}

.block h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 5%;
}

.block ul {
    font-size: 30px;
    text-align: justify;
    font-weight: 700;
    padding: 40px;
}

.block li {
    font-size: 25px;
    font-weight: normal;
}

.list {
    margin-top: 40px;
    border-radius: 4vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    background-image: url('/static/images/table_pattern.png');
    background-size: 500px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.list h1:first-child {
    border-radius: 7.4vh 4vw 0 0;
}

.list h1 {
    width: 100%;
    background: #151515;
    padding: 30px 0 30px 0;
    font-size: 50px;
}

.list figure {
    flex: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list figure img {
    width: 150px;
    display: block;
    padding: 25px;
}

.list figure figcaption {
    font-size: 30px;
    text-align: center;
    padding: 0 25px 25px 25px;
}

footer {
    background-color: #1D1F2A;
    padding: 3%;
    margin-top: 100px;
}

/* телефоны вертикально */
@media (max-width: 480px) {
    body {
        background-position: 20% 50%;
    }
    header a {
        font-size: 2.8vw;
    }

    .main_title {
        font-size: 7vw;
    }

    .block h1 {
        font-size: 24px;
    }

    .block p {
        font-size: 14px;
    }

    .block li {
        font-size: 18px;
    }

    footer {
        font-size: 10px;
        margin-top: 40px;
    }
}