.description {
    display: flex;
    flex-flow: row wrap;
}

.description h1 {
    width: 100%;
}

.description p {
    flex: 2;
    padding: 2vw;
}

.description figure {
    padding-left: 30px;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.description figcaption {
    font-size: 24px;
    text-align: center;
}

.description img {
    width: 300px;
}

.info figure {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vw;
}

.info figure figcaption {
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
}