{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/about.css">
<title>Об игре</title>
{% endblock %}
{% block content %}
<h1 class="main_title">ОБ ИГРЕ</h1>
<article class="block">
    <p>
        <img src="/static/images/posters/ds_poster.jpg" id="poster1" alt="poster1">
        Компьютерная игра в жанре action RPG, разработанная японской компанией FromSoftware и выпущенная в 2011 году.
        В Японии издателем игры выступала сама From Software; на международном рынке игру издавала компания Namco Bandai Games.
        Dark Souls, изначально известная под рабочим названием Project Dark, является идейным наследником игры
        Demon's Souls и второй частью в серии Souls.
    </p>
    <p>
        <img src="/static/images/posters/ds_rem_poster.jpg" id="poster2" alt="poster2">
        Действие игры разворачивается в вымышленном королевстве Лордран, напоминающем средневековую Европу.
        Лордран поражен проклятием, обращающим его жителей в нежить; на главного героя, также живого мертвеца,
        возлагается задача заново разжечь священный огонь и восстановить порядок вещей. Игровой процесс Dark Souls
        завязан на исследовании мира, нахождении ключевых предметов и уничтожении боссов; игру отличает высокий уровень
        сложности — подразумевается, что игровой персонаж будет раз за разом погибать, а игрок — учиться на своих ошибках.
    </p>
    <p>
        <img src="/static/images/posters/ds2_poster.jpg" id="poster3" alt="poster3">
        Dark Souls получила преимущественно положительные отзывы критиков — обозреватели особенно высоко оценили
        глубокую боевую систему, искусно выстроенные уровни мира и детально проработанную историю вселенной.
        В то время как одни обозреватели высоко оценили высокую сложность игры, другие называли её чрезмерно
        требовательной к игроку.
    </p>
    <p>
        <img src="/static/images/posters/ds3_poster.jpg" id="poster4" alt="poster4">
        Dark Souls имеет встроенный online-режим, который активируется автоматически при наличии доступа в интернет.
        Он добавляет различные взаимодействия между игроками, такие как co-op и PvP, если соблюдены некоторые условия.
        Общение между игроками очень ограничено и выражается в форме различных жестов, которые игрок может изучить
        по ходу игры. Например, если игрок общается в групповом чате Xbox 360, то игра автоматически включит offline-режим.
        Игра получила преимущественно положительные отзывы. На сайте-агрегаторе Metacritic средняя оценка
        игры составляет 89 из 100 на основе 54 обзоров для платформы PlayStation 3, 89 из 100 на основе
        66 обзоров для платформы Xbox 360 и 85 из 100 на основе 42 обзоров версии Prepare To Die Edition
        для платформы PC.
    </p>
</article>
{% endblock %}