{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/anor_londo.css">
<title>Анор Лондо</title>
{% endblock %}
{% block content %}
<h1 class="main_title">АНОР ЛОНДО</h1>
<article class="description block">
    <p>Локация игры Dark Souls, легендарный, давно заброшенный город богов, расположенный в горах, над крепостью Сена.
        Некогда был пристанищем Гвина и его рыцарей. Повелитель Света покинул город дабы принести себя в жертву и продлить Эру Огня.
        Лишь Гвиндолин, сын Гвина, остался в Анор Лондо оберегать гробницу своего отца. Кажется,
        что в Анор Лондо до сих пор светит солнце, но это лишь иллюзия Гвиндолина, как и его сестра
        Гвиневер, покоящаяся в своей башне, и, возможно, <a href="/ornstein_and_smough">Орнштейн и Смоуг</a>, защитники Гвиневер.
    </p>
    <p>Избранный мертвец (он же игровой персонаж) прибывает в Анор Лондо по поручению Фрампта для
        получения Великой Чаши у Гвиневер. Попадает он сюда после прохождения локации Крепость
        Сена и убийства Железного Голема. После победы над ним на мосту появится светящееся кольцо.
        При взаимодействии с ним появятся крылатые демоны, которые перенесут Вас через стену в Анор Лондо.
    </p>
</article>
<article class="block">
    <div class="flex"><h1>СУЩЕСТВА</h1>
    <div class="wrap"><h2>Рядовые противники:</h2>
    <ul>
        <li>Серебряный рыцарь</li>
        <li>Страж</li>
        <li>Страж Картины</li>
        <li>Демон-летучая мышь</li>
        <li>Королевский Страж</li>
        <li>Мимик</li>
        <li>Горгулья</li>
        <li>Титанитовый Демон</li>
    </ul></div>
    <div class="wrap"><h2>Боссы:</h2>
    <ul>
        <li><a href="/ornstein_and_smough">Орнштейн и Смоуг</a> (обязательный)</li>
        <li>Гвиндолин Темное Солнце (опциональный)</li>
    </ul></div>
    <div class="wrap"><h2>Персонажи:</h2>
    <ul>
            <li>Рыцарь Клинков</li>
            <li>Гвиндолин Темное Солнце</li>
            <li>Сигмайер из Катарины</li>
            <li>Солер из Асторы</li>
            <li>Кузнец-Великан</li>
            <li>Гвиневер Принцесса Света</li>
    </ul></div></div>
</article>
<article class="block">
    <h1>ПРЕДМЕТЫ</h1>
    <ul>
        <img class="right-img-pos" src="/static/images/locations/anor_londo_scheme.png" alt="схема Анор Лондо">
        <li>Сет Серебряного Рыцаря
        <li>Сет Хавела</li>
        <li>Небесное благословение</li>
        <li>Зуб Дракона</li>
        <li>Большой щит Хавела</li>
        <li>Сет Черного железа</li>
        <li>Черный щит</li>
        <li>Большой меч</li>
        <li>Большой лук драконоборца</li>
        <li>Стрела драконоборца</li>
        <li>Дубина тайны</li>
        <li>Кольцо Солнечного Первенца</li>
        <li>Большое оружие магии</li>
        <li>Клинок Света — заклинание чудес. Находится в сундуке по центру, если убить Гвиндолина.</li>
        <li>Латунный сет — во втором сундуке справа, если убить Гвиндолина.</li>
        <li>Демонический титанит</li>
        <li>Сет Благосклонности — если убить Лотрека из Карима.</li>
    </ul>
</article>
<article id='dark_anor_londo' class="block">
    <h1>ТЕМНЫЙ АНОР ЛОНДО</h1>
    <p>Если убить Гвиневер в ее покоях, то после короткой заставки солнце погаснет, и вся
        локация погрузится во тьму. Этот эффект останется до конца игры.
    </p>
    <h2>Также локация претерпет некоторые изменения:</h2>
    <ul>
        <li>Из противников останутся только Серебряные рыцари (частично), стражи картин</li>
        <li>В зале, ведущем к Орнштейну и Смоугу, появятся два Солдата Темной
            Луны, вооруженные одноручным и двуручным мечами соответственно. За них дают 5000 душ
        </li>
        <li>Вы больше не сможете присоединиться к ковенантам Клинки Темной Луны и Стражи Принцессы</li>
        <li>Члены ковенанта Клинки Темной Луны будут призываться в большой зал. Оповещение при этом не приходит</li>
        <li>Теперь после смерти игрок всегда будет появляться у первого костра в Анор Лондо</li>
        <li>Рыцарь Клинков, хранительница этого костра, теперь будет пытаться убить игрока</li>
    </ul>
</article>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/anor_londo.js">
</script>
{% endblock %}