{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/boss.css">
<title>Арториас</title>
{% endblock %}
{% block content %}
<h1 class="main_title">АРТОРИАС ПУТНИК БЕЗДНЫ</h1>
<article class="block">
    <h1>ОПИСАНИЕ</h1>
    <figure>
        <iframe src="https://www.youtube.com/embed/ULXjUz9Ms-4?si=BOX7iIEQWZOjlHjO" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
        <figcaption>Катсцена, первое появление</figcaption>
    </figure>
    <p>Арториас - второй обязательный босс DLC Artorias of the Abyss.
        Сразиться с ним можно, пройдя полностью локацию Королевский лес, в амфитеатре Олачиля.</p>
</article>
<article class="block">
    <h1>ИСТОРИЯ</h1>
    <div class="info">
        <p>
            <img src="/static/images/bosses/artorias_model.png" alt="artorias">
            <b>Арториас, Путник Бездны</b>. Один из Четверки рыцарей Гвина. Желая власти, Четыре Короля
            Попали в Бездну, отчего она начала разрастаться. Гвин приказал Арториасу бороться с темными духами. Но рыцарь
            потерпел крах в борьбе со Тьмой, и его поглотила Бездна. Перед этим он успел укрыть своего 
            друга волка Сифа щитом и спасти его.
        </p>
        <p>
            Таким мы и встречаем его - избитого, падшего перед Тьмой. Левая рука его сломана, потому
            сражается он только правой. Доспехи изрядно помотаны, испорчены Бездной. Теперь некогда легендарный рыцарь
            Повелителя Света теперь сражается как бешеный зверь. Единственный способ остановить его - убить.
        </p>
    </div>
</article>
<article class="block">
    <h1>БИТВА</h1>
    <ul>
        <li><b>Атаки</b>:</li>
        <div class="indent">
            <li>Скольжение с ударом снизу вверх или выпадом. Средняя дистанция</li>
            <li>Выпад</li>
            <li>Тяжелый удар сверху вниз</li>
            <li>Сальто с ударом сверху вниз. Может повториться до 3 раз</li>
            <li>Огромный прыжок с ударом. Дальняя дистанция.</li>
            <li>Два удара по косой дуге.</li>
            <li>Подбрасывающая атака из 3 ударов, если игрок сзади.</li>
            <li>Брызги, предположительно, кровью из сломанной руки. Наносит периодический урон.</li>
            <li>Перекаты.</li>
            <li>Каждую пятую отнятую часть здоровья босс разрывает дистанцию и готовится к усилению. 
                после подготовки идет сильная волна, наносящая большое количество урона. В течение
                приблизительно минуты босс наносит больше урона и отнимает больше выносливости при
                блокировке его атак щитом.
            </li>
    </ul>
    <ul>
        <li><b>Награды</b>:</li>
        <div class="indent">
            <li>Душа Арториаса</li>
            <li>У Домналла из Зены теперь доступен для покупки сет Арториаса.</li>
        </div>
    </ul>
    <div class="row">
        <figure>
            <img src="/static/images/armor/artorias_set.jpg" alt="сет арториаса">
            <figcaption>Сет Арториаса</figcaption>
        </figure>
    </div>
</article>
{% endblock %}