{% extends 'index.html' %}
{% block head %}
<title>Боссы</title>
{% endblock %}
{% block content %}
<h1 class="main_title">БОССЫ</h1>
<article class="block">
    <p>Безусловно, визитной карточкой Dark Souls являются боссы. Игра содержит 12 обязательных, 10 опциональных и
        4 босса из дополнения Artorias of the Abyss. Практически все боссы уникальны и имеют свой ряд особенных атак.</p>
</article>
<article class="block">
    <h1>Обязательные</h1>
    <div class="list">
        <h1></h1>
            <figure>
                <img src='/static/images/bosses/asylum_demon.png'>
                <figcaption>Демон прибежища</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/gorgulia.png">
                <figcaption>Горгулья</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/kvileg.png">
                <figcaption>Квилег Ведьма Хаоса</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/siph.png">
                <figcaption>Сиф Великий Волк</figcaption>
            </figure>
        <h1></h1>
            <figure>
                <img src='/static/images/bosses/pinwheel.png'>
                <figcaption>Вихрь</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/iron_golem.png">
                <figcaption>Железный Голем</figcaption>
            </figure>
            <figure>
                <img src='/static/images/bosses/ornstein&smough.png'>
                <figcaption><a href='/ornstein_and_smough'>Орнштейн Драконоборец и Палач Смоуг</a></figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/bed_of_chaos.png">
                <figcaption>Ложе Хаоса</figcaption>
            </figure>
        <h1></h1>
            <figure>
                <img src='/static/images/bosses/seath the scaleless.png'>
                <figcaption>Нагой Сит</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/four_kings.png">
                <figcaption>Четыре Короля</figcaption>
            </figure>
            <figure>
                <img src='/static/images/bosses/gravelord_nito.png'>
                <figcaption>Нито Повелитель Могил</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/gwyn.png">
                <figcaption>Гвин Повелитель Пепла</figcaption>
            </figure>
    </table>
</article>
<article class="block">
    <h1>Опциональные</h1>
    <div class="list">
        <h1></h1>
            <figure>
                <img src="/static/images/bosses/taurus_demon.png" alt="демон телец">
                <figcaption>Демон Телец</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/capra_demon.png" alt="капра демон">
                <figcaption>Капра Демон</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/gaping_dragon.png" alt="разверстый дракон">
                <figcaption>Разверстый дракон</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/moonlight_butterfly.png" alt="лунная бабочка">
                <figcaption>Лунная бабочка</figcaption>
            </figure>
        <h1></h1>
            <figure>
                <img src="/static/images/bosses/stray_demon.png" alt="бродячий демон">
                <figcaption>Бродячий демон</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/ceaseless_discharge.png" alt="неутомимый воин">
                <figcaption>Неутомимый воин</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/demon_firesage.png" alt="мудрый демон огня">
                <figcaption>Мудрый Демон Огня</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/centipede_demon.png" alt="демон-стоног">
                <figcaption>Демон-стоног</figcaption>
            </figure>
        <h1></h1>
            <figure>
                <img src="/static/images/bosses/dark_sun_gwyndolin.png" alt="гвиндолин темное солнце">
                <figcaption>Гвиндолин Темное Солнце</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/crossbreed_priscilla.png" alt="присцилла полукровка">
                <figcaption>Присцилла полукровка</figcaption>
            </figure>
    </div>
</article>
<article class="block">
    <h1>Artorias of the Abyss</h1>
    <div class="list">
        <h1></h1>
            <figure>
                <img src="/static/images/bosses/sanctuary_guardian.png" alt="страж святилища">
                <figcaption>Страж Святилища</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/kalameet.png" alt="черный дракон каламит">
                <figcaption>Черный Дракон Каламит</figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/artorias.png" alt="арториас путник бездны">
                <figcaption><a href='/artorias'>Арториас Путник Бездны</a></figcaption>
            </figure>
            <figure>
                <img src="/static/images/bosses/manus.png" alt="манус отец бездны">
                <figcaption>Манус Отец Бездны</figcaption>
            </figure>
        </div>
</article>
{% endblock %}