<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/anime.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Dark Souls Russian Wiki</title>
    {% endblock %}
</head>
<body>
    <div id="wrap">
    <header>
        <span class="burger_button">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </span>
        <a href="/"><img src="/static/images/logo.png" alt="logo" id="logo"></a>
        <nav>
            <a href="/pages">СТРАНИЦЫ</a>
            <a href="/about">ОБ ИГРЕ</a>
            <a href="/forum">ОБСУЖДЕНИЯ</a>
            <a href="/login">АВТОРИЗАЦИЯ</a>
        </nav>
        <nav class="mini_menu">
            <a class="mini_link" href="/pages">СТРАНИЦЫ</a>
            <a class="mini_link" href="/about">ОБ ИГРЕ</a>
            <a class="mini_link" href="/forum">ОБСУЖДЕНИЯ</a>
            <a class="mini_link" href="/login">АВТОРИЗАЦИЯ</a>
        </nav>
    </header>
    <main>
        <article class="main">
            {% block content %}
            <h1 class="main_title">ЗАГЛАВНАЯ</h1>
            <article class="welcome block">
                <p>Добро пожаловать на страницу русскоязычной энциклопедии о серии игр Dark Souls</p>
                <div class="slider">
                    <div class="poster"><img src="/static/images/posters/ds_poster.jpg" alt="poster1"></div>
                    <div><img src="/static/images/posters/ds_rem_poster.jpg" alt="poster2"></div>
                    <div><img src="/static/images/posters/ds2_poster.jpg" alt="poster3"></div>
                    <div><img src="/static/images/posters/ds3_poster.jpg" alt="poster4"></div>
                </div>
                <p>Dark Souls — серия ролевых игр, разработанная FromSoftware и изданная Bandai Namco Entertainment.</p>
            </article>
            <article class="menu block" id="pages">
                <div><h1>ПРЕДМЕТЫ</h1>
                <ul>
                    <li><a href="/titanite">Титанит</a></li>
                    <li>Угли</li>
                    <li>Сюжетные ключи</li>
                    <li>Души</li>
                    <li>Расходники</li>
                </ul></div>
                <div><h1>ЭКИПИРОВКА</h1>
                <ul>
                    <li><a href='/weapon'>Оружие</a></li>
                    <li>Броня</li>
                    <li>Кольца</li>
                </ul></div>
                <div><h1>МАГИЯ</h1>
                <ul>
                    <li>Волшебство</li>
                    <li>Пиромантия</li>
                    <li>Чудеса</li>
                </ul></div>
                <div><h1>ОКРУЖЕНИЕ</h1>
                <ul>
                    <li><a href='/locations'>Локации</a></li>
                    <li><a href='/bosses'>Боссы</a></li>
                    <li>Противники</li>
                    <li>Торговцы</li>
                    <li>Фантомы</li>
                </ul></div>
                <div><h1>ЛОР</h1>
                <ul>
                    <li><a href='/lore'>Лор</a></li>
                    <li>Сюжет</li>
                </ul></div>
            </article>
            <article class="trailer block">
                <h1>ТРЕЙЛЕР</h1>
                <iframe src="https://www.youtube.com/embed/KfjG9ZLGBHE?si=N-XokKvXFnVSSwkz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </article>
            <script src="/static/js/karusel.js"></script>
            {% endblock %}
        </article>
    </main>
    </div>
    <footer>
        <p>Все права принадлежат Dark souls, FromSoftware, Bandai Namco</p>
    </footer>
    <script src="/static/js/burger.js"></script>
</body>
</html>