{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/locations.css">
<title>Локации</title>
{% endblock %}
{% block content %}
<h1 class="main_title">ЛОКАЦИИ</h1>
<article class="block">
    <p>Dark Souls обладает множеством самых разнообразных локаций с весьма хитрым переплетением
        между собой. Всего в игре 28 локаций + 7 локаций из дополнения Artorias of the Abyss.
    </p>
</article>
<article class="block">
    <h1>СХЕМА ЛОКАЦИЙ DARL SOULS</h1>
    <div class="scheme">
        <img src="/static/images/locations/location_scheme.png" alt="схема локаций">
        <a href="/anor_londo"></a>
</article>
{% endblock %}