{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/lore.css">
<title>Лор</title>
{% endblock %}
{% block content %}
<h1 class="main_title">ЛОР</h1>
<article class="block">
    <h1>Эпоха Древних</h1>
    <p>
        <img src="/static/images/lore/age_of_dragons.jpg" class="lore_img img_right" alt="эра драконов">
        В самом начале мир был холодным и мрачным местом. В ту удивительную пору не существовало ни времени,
        ни жизни, ни смерти, потому что единственными хозяевами пустынных земель были бессмертные драконы.
        Их могучие тела покрывала удивительная чешуя, благодаря которой они жили вечно и были неуязвимы.
        Также драконы обладали могущественным артефактом – Изначальным кристаллом, который мог сохранять жизнь.
        Так этот темный мир существовал неизвестное время, и его назвали Эпохой Древних.
        Тогда не существовало волшебства, каким мы его знаем, а мир был един. Все прочие измерения
        (например, Нарисованный Мир Арамис, Бездна) появились позже.
    </p>
    <p>
        <img src="/static/images/lore/first_flame.jpg" class="lore_img img_left" alt="первое пламя">
        Мы можем только предположить, что во мраке и тумане существовали притесненные жестокими
        владыками существа разной природы. Они выживали в суровых условиях, без света и надежды.
        Но потом появилось Пламя. Возможно, именно оно и призвало новые формы жизни из небытия,
        разделив все сущее на жар и холод, жизнь и смерть, свет и тьму. Первое пламя - это огонь,
        дарующий жизнь и свет. Вышедшие из него великаны подчинялись драконам до тех пор, пока
        четыре гиганта не нашли в пламени 4 великие души, превратившие их в Богов.
    </p>
    <p>
        <img src="/static/images/lore/nito.jpg" class="lore_img  img_right" alt="Нито, Первый из Мертвых">
        На первую Душу заявил свои права Нито, Первый из Мертвых. На заре Эры Огня он заполучил одну
        из Великих Душ, после чего стал руководить смертями всех живых существ. В войне против Драконов,
        Нито насылал миазмы болезней и смерти на своих врагов.
    </p>
    <p>
        <img src="/static/images/lore/witch.jpg" class="lore_img img_left" alt="ведьма Изалита">
        Другая Душа принадлежала Ведьме Изалита, могущественной чародейке. В те дни пиромантия еще
        не появилась, Ведьма и ее дочери были настоящими мастерами магии огня.
    </p>
    <p>
        <img src="/static/images/lore/gwyn.jpg" class="lore_img  img_right" alt="Гвин, повелитель Света">
        Третью Душу взял Гвин, Повелитель Света. Мощь Пламени сделала его богом и наделила невероятными силами.
        В то время Гвин был известен как Повелитель Солнечного Света. В сражениях он использовал чудеса, подобные Копью молнии.
    </p>
    <p>
        <img src="/static/images/lore/pygmy.jpg" class="lore_img img_left" alt="безымянный карлик">
        Последняя Душа была особенной. Она называлась Темной и попала в руки безымянного карлика (Пигмея).
        Она была небольшой и неприметной, как и ее хозяин. Может показаться, что этому слабому карлику
        достались остатки пира владык, жалкие крохи. Но именно эта Душа окажется сильнее прочих и станет
        угрозой всему миру. Пока владыки собирали силы, чтобы начать войну, безымянный Пигмей смог уйти
        незамеченным и затеряться на долгие годы. Долгое время никто не подозревал о роли, которую ему
        суждено сыграть в противостоянии света и тьмы. Именно от него произошли люди - он распределил
        свои жалкие крохи между всеми неживыми, причем каждый человек унаследовал частичку его души.
        Осколки Темной Души стали известны как человечность.
    </p>
    <p>
        <img src="/static/images/lore/seath.jpg" class="lore_img img_right" alt="Нагой Сит">
        Повелители не знали как победить столь могущественных созданий, поэтому они просто копили силы и знания
        - ждали достаточно времени, что бы попытаться уничтожить драконов собственными силами. Этого не мог не
        заметить один из мудрейших драконов - Нагой Сит. Он знал что близится великая война. Поэтому он принял
        единственное для себя важное решение - он присоединился к восстанию Гвина и вместе со всеми погубил род
        драконов. Сит с трудом, но и ненавистью к своим сородичам одновременно, все же предал свой род и помог
        Гвину и другим Повелителям. Сит рассказал Гвину, что чешую можно пробить молниями. Причина предательства
        в том, что он родился с дефектом, и ему грозила погибель в случае победы Повелителей - у него не было
        чешуи бессмертия как у других драконов. За оказанную помощь, Гвин даровал ему титул Герцога и наградил частичкой великой души.
    </p>
    <iframe id="the_great_war" src="https://www.youtube.com/embed/e0l73vAlEBQ?si=lR0Db4fDllXcd7wz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>
        Со своей новообретенной силой Лордов троица бросила вызов драконам. Обладатели Великих Душ с помощью
        дракона-изгоя, Нагого Сита, родившегося без чешуи бессмертия, истребили драконов. Нито сражался,
        высвобождая ядовитые облака смерти. Ведьма Изалита и ее дочери создавали огненные штормы, испепелявшие
        врагов. Гвин молниями разрушал драконью чешую. В войне Гвина поддерживали его верные рыцари, созданные
        из серебра. А Нагой Сит похитил Извечный Кристалл, что делал драконов уязвимыми. И наступила тишина
        после битвы. Победители стали называть себя Богами. Так печально закончилась великая Эпоха Древних. И началась...
    </p>
</article>
<article class="block">
    <h1>Эра Огня</h1>
    <p>
        <img src="/static/images/lore/anor_londo.jpg" class="lore_img img_right" alt="Анор Лондо">
        Одержав победу, боги выбрались на поверхность, начали менять мир. На серых безжизненных скалах появилась
        жизнь, города и королевства. В самом центре мира, вознеслись мощные пики города богов
        <a href="/anor_londo">Анор Лондо</a>, ставшего столицей королевства Лордран. Новый прекрасный мир не знал
        бед, но жизнь невозможна без огня, без Первого Пламени, распространившегося по всему миру с помощью костров.
        Но об этом никто не беспокоился.
    </p>
    <p>
        <img src="/static/images/lore/gwyn_children.jpg" class="lore_img img_left" alt="дети Гвина">
        Гвин обзавелся тремя детьми: безымянный бог войны (он же Безымянный Король из Dark Souls 3), стертый
        с лица истории самим Гвином за союз с драконами, любимая дочь Принцесса Света Гвиневер и третий сын,
        рожденный под знаком луны Гвиндолин. Рожденные под знаком Луны одарены способностью творить иллюзии,
        одновременно такая возможность приписывалась женщинам, из-за чего Гвиндолина воспитали как дочь. По
        слухами у Гвина был и четвертый ребенок - дочь Йоршка, ставшая лидером Клинков Темной Луны.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/74/ef/a3/74efa3235c3c3f005bb386948566fe03.jpg" class="lore_img img_right" alt="герцог Сит">
        Нагой Сит в награду за помощь получил титул герцога и частичку могущественной души Гвина.
        Его удел расположен неподалеку от Анор Лондо, и там Сит основал огромную библиотеку,
        известную как «архивы герцога». Именно в них были записаны первые знания о волшебстве и кристальных чарах.
        Там же начались бесчеловечные эксперименты Сита над живыми существами — он мечтал найти секрет бессмертия.
        Подвластные Ситу медиумы бродили по всему миру, выискивая жертв, но из-за былых заслуг ему все сходило с рук.
        Со временем Сит превратился в затворника и, по слухам, обезумел. Но проверить это никому не удавалась —
        выставленная им стража никого не подпускала к архивам.
    </p>
    <p>
        <img src="https://darksouls.wiki.fextralife.com/file/Dark-Souls/nito_awakening.jpg?v=1528456670661" class="lore_img img_left" alt="Нито">
        <i>"Нито, не интересовавшийся событиями в мире, после войны отправился в катакомбы, где многие века дремал в своей гробнице."</i>
    </p>
</article>
<article class="block">
    <h1>Освобождение бездны</h1>
    <p>
        <img src="https://i.pinimg.com/736x/1d/85/bd/1d85bd9356f00a4ea95a21904cea0036.jpg" class="lore_img img_right" alt="человечность">
        В конце концов первородное пламя начало угасать: естественный и необратимый процесс, предвещающий
        приход эпохи тьмы и конец власти Гвина. Одновременно начали угасать и костры, рассеянные по всему миру.
        Тогда Гвин нашел для них топливо — человечность. Эта загадочная субстанция, присущая каждому человеку,
        может ненадолго поддержать костер.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/f2/aa/4e/f2aa4e844ffb0a36d570ddd004adca5e.jpg" class="lore_img img_left" alt="хитрый карлик">
        В то время как Гвин и другие боги использовали великие души для
        достижения могущества и изменения мира, хитрый карлик, позже получивший имя Манус и владевший темной
        душой, таился ото всех. Он стал первым человеком, и все его потомки получили частичку той самой темной
        души — человечность.
    </p>
    <p>
        <img src="https://darksouls.wiki.fextralife.com/file/Dark-Souls/hollow_dsr_header_full.jpg?v=1528541970959" class="lore_img img_right" alt="нежить">
        Но человечность оказалась не единственным наследием Мануса. Со временем по миру распространилось проклятье:
        у некоторых людей на теле проявлялся знак тьмы, превращающий их в бессмертную нежить. Умирая, проклятые возрождались
        у костров, теряя частичку человечности, постепенно сходя с ума и превращаясь в «полых». Общество предпочло ссылать
        их в прибежище нежити, где им предстояло томиться до конца дней. Долгое время Гвин даже не воспринимал угрозу всерьез.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/d0/13/47/d0134730e2ed4833f3cb6160eb897e03.jpg" class="lore_img img_left" alt="Каас">
        <i>"Природа Кааса остается неизвестной, но многие считают, что его род идет прямиком от древних драконов, поверженных Гвином."</i>
        <br><br>Первозмей Каас хитростью убедил жителей поселка Олачиля вскрыть могилу первого человека. Сделав это, они выпустили на свободу не только отца
        всех людей, но и бездну, неумолимого врага всего живого. Никто точно не знает, что такое бездна. Но, вероятнее всего,
        это и есть растущая и крепнущая темная душа, некогда найденная хитрым карликом. Вполне возможно, что боги сами питали ее мощь,
        скармливая людскую человечность языкам пламени.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/43/c7/df/43c7dfcbc769c8a3d13e584fd4563340.jpg" class="lore_img img_right" alt="Арториас">
        Влияние Мануса извратило человечность жителей Олачиля, превратив в ужасных монстров. Чтобы предотвратить катастрофу,
        Гвин послал в поселок <a href="artorias">сэра Арториаса</a>, одного из четверых самых доверенных рыцарей. Арториас стал единственным,
        кто смог проникнуть в пораженный бездной Олачиль, за что и был прозван «путником бездны». Однако удача в походе
        ему не сопутствовала — Арториас не только не сумел остановить Мануса, но и сам оказался развращен бездной.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/64/0c/79/640c7967ba8f2f6027f3b851745d4afd.jpg" class="lore_img img_left" alt="Манус">
        Но час этого мира еще не настал — Манус сам погубил себя. Преследуя лишь ему ведомые цели, он затянул в свое время
        избранного мертвеца, проклятую нежить из далекого будущего, и пал от его меча, что породило легенду о сэре Арториасе,
        остановившем бездну. И бездна вправду была на время остановлена, но начало было положено, а Каас остался жив.
    </p>
    <p>
        <img src="https://static0.gamerantimages.com/wordpress/wp-content/uploads/2024/08/dark-souls-four-kings-thumbnail.jpg" class="lore_img img_right" alt="четыре короля">
        Коварный змей снова проявил себя в Новом Лондо, великом городе, раскинувшемся у стен Анор Лондо. Правили городом
        четыре мудрых короля, достойнейшие из людей. Сам Гвин признал их мудрость и подарил им частицу своей великой души.
        Но Каас сумел развратить и их умы. Он научил королей технике вытягивания человечности из людей и уговорил пожертвовать
        ему человечность всех жителей города, пообещав в обмен бессмертие. Новый Лондо оказался во власти бездны, а сами
        короли были обмануты и стали пешками в руках Кааса.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/e4/c5/58/e4c558f9cdb3f76419244fe06857eec6.jpg" class="lore_img img_left" alt="руины Нового Лондо">
        Чтобы не допустить распространения бездны из Нового Лондо, Гвин приказал затопить город вместе со всеми его
        обитателями. Это событие стало переломным. Бездна уже стояла у порога. Страх охватил Анор Лондо.
    </p>
</article>
<article class="block">
    <h1>Закат эры Огня</h1>
    <p>
        <img src="https://oyster.ignimgs.com/mediawiki/apis.ign.com/dark-souls/a/ab/Havel.jpg" class="lore_img img_right" alt="Хавел">
        Неизвестные культисты создали темный уголь, с помощью которого можно выковать оружие, способное сразить даже бога.
        Предводителем заговорщиков оказался Хавел Скала — близкий друг Гвина и епископ «Белого пути», ковенанта, что
        уничтожал проклятых мертвецов и искал новые способы возжечь пламя. План был раскрыт, и Хавел отправился в вечное
        заточение, а Гвин лишился ценного союзника.<br>Поглядев на творящуюся неразбериху, многие боги просто покинули Анор Лондо
        и скрылись в дальних землях. Среди них была и Гвиневер, сбежавшая с богом огня Фланном.
    </p>
    <p>
        <img src="https://steamuserimages-a.akamaihd.net/ugc/545267112042923468/85A8AA1A7905FEE280F106C16C99776C18B5B837/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" class="lore_img img_left" alt="нарисованный мир">
        Эти потрясения оставили на Гвине свой отпечаток: он сделался подозрительным и отправил в заточение богиню греха Велку,
        побоявшись, что и сам может попасть в список грешников. Ее тюрьмой стал нарисованный мир Ариамиса, место, созданное
        для того, чтобы прятать особенно неприятные секреты.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/7d/3d/8c/7d3d8cf687429b66c1d787f14df513a9.jpg" class="lore_img img_right" alt="ложе Хаоса">
        Ведьма Изалита, долго раздумывавшая над тем, как поддержать угасающее пламя, в конце концов решила создать новое
        с помощью огненной магии. В какой-то мере ей это удалось, но ее огонь получился уродливым и оскверненным, поглотил
        саму ведьму и породил ложе хаоса, давшее начало омерзительным демонам. Обитатели города гибли один за другим,
        а немногочисленные выжившие мутировали в ужасных созданий. Даже дети ведьмы не избежали жуткой участи: сын превратился
        в огромного бесформенного демона, а две дочери частично лишились человеческого облика.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/51/26/0e/51260e44ae5d9cad0764448659c856c1.jpg" class="lore_img img_left" alt="Гвин повелитель пепла">
        Гвин остался ни с чем. Семья покинула его. Силы его рассеяны по миру. Оставшихся соратников можно пересчитать
        по пальцам. Огонь почти угас. Тогда король и принял судьбоносное решение: отправиться в горнило первородного
        пламени и принести себя в жертву в отчаянной попытке разжечь огонь. От монарха осталась лишь пустая оболочка,
        он сгорел дотла и сделался первым повелителем пепла. Но единственной великой души было недостаточно. Жертва
        Гвина помогла продлить эпоху огня еще на мгновенье, но Лордран опустел, а проклятье нежити так и не было побеждено.
    </p>
    <p>
        <img src="https://i.pinimg.com/736x/78/1a/04/781a04c8bfc54d02f7933b9b49628819.jpg" class="lore_img img_right" alt="избранный мертвец">
        Спустя тысячи лет, заточенный в Северном Прибежище нежити, избранный мертвец изменит мир...
    </p>
</article>
{% endblock %}