{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/lore.css">
<title>Лор</title>
{% endblock %}
{% block content %}
<h1 class="main_title">ЛОР</h1>
<article class="block">
    <h1>Эпоха Древних</h1>
    <p>
        <img src="/static/images/lore/age_of_dragons.jpg" class="right_content" alt="эра драконов">
        В самом начале мир был холодным и мрачным местом. В ту удивительную пору не существовало ни времени,
        ни жизни, ни смерти, потому что единственными хозяевами пустынных земель были бессмертные драконы.
        Их могучие тела покрывала удивительная чешуя, благодаря которой они жили вечно и были неуязвимы.
        Также драконы обладали могущественным артефактом – Изначальным кристаллом, который мог сохранять жизнь.
        Так этот темный мир существовал неизвестное время, и его назвали Эпохой Древних.
        Тогда не существовало волшебства, каким мы его знаем, а мир был един. Все прочие измерения
        (например, Нарисованный Мир Арамис, Бездна) появились позже.
    </p>
    <p>
        <img src="/static/images/lore/first_flame.jpg" class="left_content" alt="первое пламя">
        Мы можем только предположить, что во мраке и тумане существовали притесненные жестокими
        владыками существа разной природы. Они выживали в суровых условиях, без света и надежды.
        Но потом появилось Пламя. Возможно, именно оно и призвало новые формы жизни из небытия,
        разделив все сущее на жар и холод, жизнь и смерть, свет и тьму. Первое пламя - это огонь,
        дарующий жизнь и свет. Вышедшие из него великаны подчинялись драконам до тех пор, пока
        четыре гиганта не нашли в пламени 4 великие души, превратившие их в Богов.
    </p>
    <p>
        <img src="/static/images/lore/nito.jpg" class="right_content" alt="Нито, Первый из Мертвых">
        На первую Душу заявил свои права Нито, Первый из Мертвых. На заре Эры Огня он заполучил одну
        из Великих Душ, после чего стал руководить смертями всех живых существ. В войне против Драконов,
        Нито насылал миазмы болезней и смерти на своих врагов.
    </p>
    <p>
        <img src="/static/images/lore/witch.jpg" class="left_content" alt="ведьма Изалита">
        Другая Душа принадлежала Ведьме Изалита, могущественной чародейке. В те дни пиромантия еще
        не появилась, Ведьма и ее дочери были настоящими мастерами магии огня.
    </p>
    <p>
        <img src="/static/images/lore/gwyn.jpg" class="right_content" alt="Гвин, повелитель Света">
        Третью Душу взял Гвин, Повелитель Света. Мощь Пламени сделала его богом и наделила невероятными силами.
        В то время Гвин был известен как Повелитель Солнечного Света. В сражениях он использовал чудеса, подобные Копью молнии.
    </p>
    <p>
        <img src="/static/images/lore/pygmy.jpg" class="left_content" alt="безымянный карлик">
        Последняя Душа была особенной. Она называлась Темной и попала в руки безымянного карлика (Пигмея).
        Она была небольшой и неприметной, как и ее хозяин. Может показаться, что этому слабому карлику
        достались остатки пира владык, жалкие крохи. Но именно эта Душа окажется сильнее прочих и станет
        угрозой всему миру. Пока владыки собирали силы, чтобы начать войну, безымянный Пигмей смог уйти
        незамеченным и затеряться на долгие годы. Долгое время никто не подозревал о роли, которую ему
        суждено сыграть в противостоянии света и тьмы. Именно от него произошли люди - он распределил
        свои жалкие крохи между всеми неживыми, причем каждый человек унаследовал частичку его души.
        Осколки Темной Души стали известны как человечность.
    </p>
    <p>
        <img src="/static/images/lore/seath.jpg" class="right_content" alt="Нагой Сит">
        Повелители не знали как победить столь могущественных созданий, поэтому они просто копили силы и знания
        - ждали достаточно времени, что бы попытаться уничтожить драконов собственными силами. Этого не мог не
        заметить один из мудрейших драконов - Нагой Сит. Он знал что близится великая война. Поэтому он принял
        единственное для себя важное решение - он присоединился к восстанию Гвина и вместе со всеми погубил род
        драконов. Сит с трудом, но и ненавистью к своим сородичам одновременно, все же предал свой род и помог
        Гвину и другим Повелителям. Сит рассказал Гвину, что чешую можно пробить молниями. Причина предательства
        в том, что он родился с дефектом, и ему грозила погибель в случае победы Повелителей - у него не было
        чешуи бессмертия как у других драконов. За оказанную помощь, Гвин даровал ему титул Герцога и наградил частичкой великой души.
    </p>
    <video id="the_great_war" src="/static/videos/lore/the_great_war.mp4" alt="война с драконами" preload="auto" autoplay muted loop></video>
    <p>
        Со своей новообретенной силой Лордов троица бросила вызов драконам. Обладатели Великих Душ с помощью
        дракона-изгоя, Нагого Сита, родившегося без чешуи бессмертия, истребили драконов. Нито сражался,
        высвобождая ядовитые облака смерти. Ведьма Изалита и ее дочери создавали огненные штормы, испепелявшие
        врагов. Гвин молниями разрушал драконью чешую. В войне Гвина поддерживали его верные рыцари, созданные
        из серебра. А Нагой Сит похитил Извечный Кристалл, что делал драконов уязвимыми. И наступила тишина
        после битвы. Победители стали называть себя Богами. Так печально закончилась великая Эпоха Древних. И началась...
    </p>
</article>
<article class="block">
    <h1>Эра Огня</h1>
    <p>
        <img src="/static/images/lore/anor_londo.jpg" class="right_content" alt="Анор Лондо">
        Одержав победу, боги выбрались на поверхность, начали менять мир. На серых безжизненных скалах появилась
        жизнь, города и королевства. В самом центре мира, вознеслись мощные пики города богов
        <a href="/anor_londo">Анор Лондо</a>, ставшего столицей королевства Лордран. Новый прекрасный мир не знал
        бед, но жизнь невозможна без огня, без Первого Пламени, распространившегося по всему миру с помощью костров.
        Но об этом никто не беспокоился.
    </p>
    <p>
        <img src="/static/images/lore/gwyn_children.jpg" class="left_content" alt="дети Гвина">
        Гвин обзавелся тремя детьми: безымянный бог войны (он же Безымянный Король из Dark Souls 3), стертый
        с лица истории самим Гвином за союз с драконами, любимая дочь Принцесса Света Гвиневер и третий сын,
        рожденный под знаком луны Гвиндолин. Рожденные под знаком Луны одарены способностью творить иллюзии,
        одновременно такая возможность приписывалась женщинам, из-за чего Гвиндолина воспитали как дочь. По
        слухами у Гвина был и четвертый ребенок - дочь Йоршка, ставшая лидером Клинков Темной Луны.
    </p>
</article>
{% endblock %}