{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/boss.css">
<title>Орнштейн и Смоуг</title>
{% endblock %}
{% block content %}
<h1 class="main_title">ОРНШТЕЙН ДРАКОНОБОРЕЦ И ПАЛАЧ СМОУГ</h1>
<article class="block">
    <h1>ОПИСАНИЕ</h1>
    <figure>
        <iframe src="https://www.youtube.com/embed/5W_18-tAW7U?si=anUJerq56N7j6yKp" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <figcaption>Катсцена, первое появление</figcaption>
    </figure>
    <p>Орнштейн и Смоуг - седьмой по счету обязательный парный босс Dark Souls.
        Сразиться с ним можно в локации <a href="/anor_londo">Анор Лондо</a>, через центральный зал замка.</p>
</article>
<article class="block">
    <h1>ИСТОРИЯ</h1>
    <div class="info">
        <p>
            <img src="/static/images/bosses/ornstein.png" alt="ornstein">
            <b>Орнштейн Драконоборец</b>. О его прошлом известно немного. Он отличился в войне с драконами в Эпоху Древних,
            за что был награжден Гвином, Лордом Солнечного света, став капитаном Четырех Рыцарей. Копье Орнштейна
            наделено уроном молнии, а броня - сопротивлением урону молнии. Такие свойства помогали ему одолевать
            драконов в эпоху Древних, ведь, как известно, драконы имеют уязвимость к молнии.
            Единственный из Четырех Рыцарей остался в <a href="/anor_londo">Анор Лондо</a> защищать иллюзию дочери Гвина Принцессу Гвиневер вместе со Смоугом.
        </p>
    </div>
    <div class="info">
        <p>
            <img src="/static/images/bosses/smough.png" alt="smough">
            <b>Палач Смоуг</b>. Палач-гигант с огромным молотом. Желал стать рыцарем Гвина, но не был принят,
            потому что добавлял кости своих жертв в еду. Возможно, Смоуг завидует своему напарнику Орнштейну из-за того,
            что последний является капитаном рыцарей Гвина. В <a href='#smough_second_phase' >катсцене перехода во вторую фазу</a>
            безжалостно добивает поверженного Орнштейна, если Драконоборец был убит первым, при этом злорадостно смеясь.
            Вполне возможно, что Смоуг не таил обиды, а суровая расправа с напарником объясняется преданностью иллюзии Гвиневер.
        </p>
    </div>
</article>
<article class="block">
    <h1>БИТВА</h1>
    <ul>
        <li><b>Первая фаза</b>:</li>
        <div class="indent">
            <li>Первая фаза заканчивается, когда один из боссов будет побежден.</li>
            <li>Атаки <b>Орнштейна</b>:</li>
            <div class="indent">
                <li><b>Скольжение</b>. Заносит копьё за спину и начинает скользить в сторону игрока, при сближении делая выпад.
                    Лучше всего просто прятаться за колонны и тогда босс, скорее всего, просто промахнется.</li>
                <li><b>Рывок</b>. Похожа на скольжение, но на гораздо меньшее расстояние. </li>
                <li><b>Заряд</b>. Босс выпускает из копья молнию, неповоротливо преследующую игрока.</li>
                <li><b>Выстрел</b>. То же, что и заряд, только в разы быстрее, траектория не меняется вообще.</li>
                <li><b>Атаки копьем</b>. Обычные взмахи слева направо и наоборот.</li>
                <li><b>Подбрасывание</b>. Делает выпад, а затем бьёт снизу вверх, подбрасывая игрока.</li>
                <li><b>Атака в прыжке</b>. Подпрыгивает и наносит выпад.</li>
                <li><b>Отскок</b>. Может уклоняться от ваших атак  отскоками.</li>
                <li><b>Пронзание</b>. Копьё «заряжается» молниями и босс пытается насадить игрока на него. Так как является захватом, блокировать её бессмысленно.</li>
            </div>
        </div>
        <figure>
            <iframe src="https://www.youtube.com/embed/XIEK5JBy-mU?si=aYJoh6BYO5XGtW9i" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Переход во вторую фазу (Смоуг побежден)</figcaption>
        </figure>
        <div class="indent">
            <li>Атаки <b>Смоуга</b>:</li>
            <div class="indent">
                <li><b>Удар в прыжке</b>. Подпрыгивает и бьёт молотом по земле.</li>
                <li><b>Взмах</b>. Обычные взмахи молотом слева направо и наоборот. Крайне медленные.</li>
                <li><b>Задняя атака</b>. Босс высоко прыгает, а затем обрушивается на игрока пятой точкой.</li>
                <li><b>Вертикальный удар</b>. Обычный вертикальный удар по земле.</li>
                <li><b>Таран</b>. Самая опасная атака. Палач выставляет молот перед собой и мчится к игроку.
                    Атака наносит урон дважды: при касании молота и при взмахе снизу вверх, который следует в конце атаки
                    (после чего игрока ещё и подбрасывает).</li>
                <li><b>Отскок</b>. способен уклоняться от атак медленным отскоком назад</li>
            </div>
        </div>
        <figure>
            <iframe id='smough_second_phase' src="https://www.youtube.com/embed/qb3kPNg2V_c?si=UfUiPtD9YpvNtTbp" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption>Переход во вторую фазу (Орнштейн побежден)</figcaption>
        </figure>
    </ul>
    <ul>
        <li><b>Вторая фаза</b>:</li>
        <div class="indent">
            <li>Атаки выжившего босса остаются, добавляются новые.</li>
            <li>Атаки <b>Орнштейна</b>:</li>
            <div class="indent">
                <li><b>Задняя атака</b>. Точно такая же, как и у его напарника, только с меньшим радиусом.</li>
                <li><b>Прыжок</b>. Отпрыгивает от игрока, попутно делая взмах перед собой снизу.</li>
            </div>
            <li>Атаки <b>Смоуга</b>:</li>
            <div class="indent">
                <li>Теперь наносят <b>урон молнией</b>.</li>
                <li><b>Задняя атака</b> также <b>сопровождается молнией</b>, тем самым радиус атаки увеличивается.</li>
            </div>
        </div>
    </ul>
    <ul>
        <li><b>Награды</b>:</li>
        <div class="indent">
            <li>50000 душ</li>
            <li>Человечность</li>
            <li>Если <b>Орнштейн</b> побежден последним:</li>
            <div class="indent">
                <li>Душа Орнштейна</li>
                <li>Кольцо со львом</li>
                <li>У Домналла из Зены теперь доступен для покупки сет Орнштейна.</li>
            </div>
            <li>Если <b>Смоуг</b> побежден последним:</li>
            <div class="indent">
                <li>Душа Смоуга</li>
                <li>У Домналла из Зены теперь доступен для покупки сет Смоуга.</li>
            </div>
        </div>
    </ul>
    <div class="row">
        <figure>
            <img src="/static/images/armor/ornstein_set.jpg" alt="сет Орнштейна">
            <figcaption>Сет Орнштейна</figcaption>
        </figure>
        <figure>
            <img src="/static/images/armor/smough_set.jpg" alt="сет Смоуга">
            <figcaption>Сет Смоуга</figcaption>
        </figure>
    </div>
</article>
{% endblock %}