{% extends 'index.html' %}
{% block head %}
<title>Регистрация</title>
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}
{% block content %}
<h1 class="main_title">РЕГИСТРАЦИЯ</h1>
<article class="block">
    <form class="login">
        <input class="login" name="login" type="text" placeholder="Логин">
        <input class="password" name="paassword" type="password" placeholder="Пароль">
        <button type="button" class="btn_in">Войти</button>
    </form>
</article>
{% endblock %}