{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="static/css/titanite.css">
<title>Титанит</title>
{% endblock %}
{% block content %}
<h1 class="main_title">ТИТАНИТ</h1>
<article class="description block">
    <h1>ОПИСАНИЕ</h1>
    <p>Титанит — специальный материал, используемый с целью заточки для улучшения показателей оружия, брони и щитов.
        Осколок титанита, Большой осколок титанита и Осколок зеленого титанита можно получить, скармливая Фрампту Королевскому Искателю более высокоуровневые куски титанита.</p>
    <figure>
        <img src="/static/images/titanite/demon_titanite.png" alt="demon_titanite">
        <figcaption>Демонический титанит</figcaption>
    </figure>
</article>
<article class="block">
    <h1>ОСКОЛОК ТИТАНИТА</h1>
    <article class="info">
        <figure>
            <img src="/static/images/titanite/titanite_shard.png" alt="titanite_shard">
            <figcaption>Осколок титанита</figcaption>
        </figure>
        <ul>
            Местонахождение
            <li>У Андрэ из Асторы за 800 душ.</li>
            <li>У Вамоса за 800 душ.</li>
            <li>У Кузнеца Великана за 800 душ.</li>
            <li>У Гоха Соколиного Глаза за 800 душ.</li>
            <li>У Удрученного торговца за 1,000 душ.</li>
            <li>Из Кристальной ящерки.</li>
            <li>Из Балдерских рыцарей.</li>
            <li>Из Полых солдат в Городе Нежити.</li>
            <li>Можно получить 5 титанитовых осколков, если скормить Фрампту осколок зелёного титанита/большой осколок титанита.</li>
        </ul>
        <ul>
            Использование
            <li>Улучшение обычного оружия до +5.</li>
            <li>Улучшение обычных доспехов до +3.</li>
        </ul>
    </article>
</article>
<article class="block">
    <h1>БОЛЬШОЙ ОСКОЛОК ТИТАНИТА</h1>
    <article class="info">
        <figure>
            <img src="/static/images/titanite/large_titanite_shard.png" alt="titanite_shard">
            <figcaption>Большой осколок титанита</figcaption>
        </figure>
        <ul>
            Местонахождение
            <li>У Удрученного торговца за 4,000 душ в Крепости Сена.</li>
            <li>У Кузнеца Великана за 3,800 душ в <a href="/anor_londo">Анор Лондо</a>.</li>
            <li>У Гоха Соколиного Глаза за 3,800 душ в Поселке Олачиль.</li>
            <li>Из Кристальной ящерки.</li>
            <li>Из Гигантской пиявки в Чумном Городе.</li>
            <li>Из Балдерского Рыцаря.</li>
            <li>Из Рыцаря Береника (100% выпадание в Нарисованном мире Ариамиса).</li>
            <li>Из Слизей в Глубинах.</li>
            <li>Из Раздутоголового в Поселке Олачиль.</li>
        </ul>
        <ul>
            Использование
            <li>Улучшение Обычного оружия с +5 до +10.</li>
            <li>Улучшение стандартной брони с +3 до +6.</li>
            <li>Улучшение Грубого оружия до +5.</li>
        </ul>
    </article>
</article>
<article class="block">
    <h1>ОБЛОМОК ТИТАНИТА</h1>
    <article class="info">
        <figure>
            <img src="/static/images/titanite/titanite_chunk.png" alt="titanite_chunk">
            <figcaption>Обломок титанита</figcaption>
        </figure>
        <ul>
            Местонахождение
            <li>Снаггли меняет 1 штуку мусора на один обломок титанита.</li>
            <li>Из Кристальной ящерки.</li>
            <li>Из Темных Духов в Руинах Нового Лондо.</li>
            <li>Из Королевского Стража в <a href="/anor_londo">Анор Лондо</a> перед <a href='/ornstein_and_smough'>Орнштейном и Смоугом</a>.</li>
            <li>Из Черного Рыцаря.</li>
        </ul>
        <ul>
            Использование
            <li>Улучшение Обычного оружия с +10 до +14.</li>
            <li>Улучшение стандартной брони с +6 до +9.</li>
            <li>Улучшение Кристального и Молниевого оружия до +4.</li>
        </ul>
    </article>
</article>
<article class="block">
    <h1>КУСОК ТИТАНИТА</h1>
    <article class="info">
        <figure>
            <img src="/static/images/titanite/titanite_slab.png" alt="titanite_slab">
            <figcaption>Кусок титанита</figcaption>
        </figure>
        <ul>
            Местонахождение
            <li>Из кристальных ящерок в Полости</li>
            <li>Из Темных Духов в Руинах Нового Лондо (очень редко).</li>
            <li>Из Бродячего Демона в Северном Прибежище Нежити.</li>
            <li>В Королевском лесу, в сундуке за водопадом у Черного Дракона, Каламита.</li>
            <li>Сиглинда из Катарины подарит вам Кусок титанита, в качестве благодарности за вашу помощь в поиске её отца на Озере Золы.</li>
        </ul>
        <ul>
            Использование
            <li>Улучшение Обычного оружия с +14 до +15.</li>
            <li>Улучшение Обычных доспехов с +9 до +10.</li>
            <li>Улучшение Кристального и Молниевого оружия с +4 до +5.</li>
        </ul>
    </article>
</article>
<article class="block">
    <h1>МЕРЦАЮЩИЙ ТИТАНИТ</h1>
    <article class="info">
        <figure>
            <img src="/static/images/titanite/twinkling_titanite.png" alt="twinkling_titanite">
            <figcaption>Мерцающий титанит</figcaption>
        </figure>
        <ul>
            Местонахождение
            <li>У кузнеца Гиганта за 8,000 душ.</li>
            <li>Из кристальных ящерок</li>
            <li>Из Каменных стражей из Королевского леса.</li>
            <li>Из гигантских моллюсков из Кристального Грота и Озера Золы.</li>
            <li>В обмен на заросли красного или фиолетового мха Снаггли дает мерцающий титанит.</li>
            <li>В обмен на заросли цветущего фиолетового сха Снаггли дает два мерцающих титанита.</li>
        </ul>
        <ul>
            Использование
            <li>Улучшение Уникального оружия и Уникальной брони до +5.</li>
        </ul>
    </article>
</article>
<article class="block">
    <h1>ДЕМОНИЧЕСКИЙ ТИТАНИТ</h1>
    <article class="info">
        <figure>
            <img src="/static/images/titanite/demon_titanite.png" alt="demon_titanite">
            <figcaption>Демонический титанит</figcaption>
        </figure>
        <ul>
            Местонахождение
            <li>От одного до нескольких кусков падает с Титанитовых демонов
                (тот, что находится на мосту в Забытом Изалите, возрождается, но он же самый сильный из Титанитовых Демонов).</li>
            <li>В обмен на Навозный пирог или Радужный камень Снаггли дает демонический титанит.</li>
            <li>Два куска могут быть найдены в первом сундуке в <a href="/anor_londo">Анор Лондо</a>, возле двух часовых.</li>
            <li>В Крепости Сена под первыми маятниковыми ловушками 4 Титанитовых Демона.</li>
            <li>В <a href="/anor_londo">Анор Лондо</a> после лифта спустившись по лестнице, спрыгнув направо вдоль стены б1удет сундук с 1 титанитом.</li>
        </ul>
        <ul>
            Использование
            <li>Улучшение Оружия из душ до +5.</li>
        </ul>
    </article>
</article>
<article class="block">
    <h1>ДРАКОНЬЯ ЧЕШУЯ</h1>
    <article class="info">
        <figure>
            <img src="/static/images/titanite/dragon_scale.png" alt="dragon_scale">
            <figcaption>Драконья чешуя</figcaption>
        </figure>
        <ul>
            Местонахождение
            <li>Падает со всех Гидр.</li>
            <li>Падает со всех Драконов-нежитей.</li>
            <li>Шанс выпадения из синих виверн в Долине драконов.</li>
            <li>В обмен на Лекарство от яиц Снаггли дает драконью чешую.</li>
            <li>Удрученного торговца за 1,000 душ.</li>
            <li>В сундуке в Чумном городе.</li>
            <li>На трупе в Озере Золы.</li>
            <li>В дуэлях: За победу в качестве члена или над членом ковенанта Путь Дракона.</li>
        </ul>
        <ul>
            Использование
            <li>Улучшение Драконьего оружия до +5.</li>
            <li>Жертва Присносущему Дракону в Озере Золы для повышения
                ранга в ковенанте Путь Дракона увеличивает урон от огненного дыхания камня с драконьей головой.</li>
        </ul>
    </article>
</article>
{% endblock %}